<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style="float: left; height: 280px; width: 10%"></div>
<div style="float: left; height: 280px; width: 80%; background: #FFFFFF; text-align: center;" >
<table class="media-grid" style="margin-left: 0px">
	<tr>
		<p>
			<font size="2" face="verdana" color="black">
			<b> Tag your photos using #lokisafashion on our 
			<a href="<php? echo $instagram_link; ?>" target="_blank">Instagram</a>! *Be featured!* </b>
			</font>
		</p>
	</tr>
	<tr>
		<iframe src="https://www.intagme.com/in/?u=bG9raXNhZmFzaGlvbnxpbnwyMDB8NHwxfHx5ZXN8MjB8dW5kZWZpbmVkfHllcw==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:920px; height: 230px" ></iframe>
	</tr>
</table>
</div> 

</body>
</html>